.login_container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/login.png');
    background-repeat: no-repeat;
}

.login_form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 30%;
    height: 40%;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 20px;
    padding-right: 5%;
    background-color:rgba(0,0,0,0.3);

}

.login_selection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}