.main_container{
  position: relative;
  width: 100%;
  height: 100vh;
}

.main_view{
  position: absolute;
  width: 100%;
  height: 95vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bottom_navigation_bar{
  position: absolute;
  height: 5vh;
  width: 100%;
  bottom: 0;
}