.chat_container {
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba(128, 128, 128, 0.22);
    border-right: 1px solid rgba(128, 128, 128, 0.22);
}

.message_container{
    width: 80%;
    height: 80%;
}

.send_message_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.22);
    width: 100%;
    height: 20%;
}