.info-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    list-style-type: none;
}

.list-bottom{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-family: "宋体", sans-serif;
}