.product_details_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    left: 15%;
    width: 70%;
    height: 100%;
}
.text_parameters{
    width: 80%;
    height: 15%;
    margin-left: 10%
}
.image_parameters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 620px;
    height: 620px;
}
.comments_btn{
    position: absolute;
    left: 15%;
    bottom: 0;
}